# Dependencies
node_modules
.pnp
.pnp.js
.pnpm-store

# Builds
dist
build
.next
.turbo
.cache

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*
!.env.example
!.env.sample

# TypeScript
*.tsbuildinfo

# Coverage
coverage
.nyc_output

# OS
.DS_Store
Thumbs.db

# markdowns

*.md
